*{
  font-family: "open sans";
}

body {
  max-width: 90%;
  margin: auto;
  background: -webkit-linear-gradient(
    90deg,
    rgb(237, 241, 244),
    rgb(119, 167, 216)
  );
  background: linear-gradient(90deg, rgb(237, 241, 244), rgb(119, 167, 216));
  background-image: url("background.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header > h1{
    background-color: yellow;
}

p {
  font-family: serif;
  word-spacing: 2px;
  color: white;
}

a {
  color: red;
}

a:hover {
  background-color: black;
}
a:visited {
  color: gray;
}

q {
  max-width: 50%;
  margin: auto;
  font-size: 160%;
  display: block;
  background-color: gray;
  border-left: 3px dashed;
  padding-left: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-style: italic;
}

.everybody{
    border-left-color: green;
}

.farmer{
    border-left-color: red;
}

.good {
  text-transform: uppercase;
  color: green;
}

.bad{
  text-transform: uppercase;
  color: red;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  float: left;
  margin-right: 10px;
}